:root {
  color-scheme: dark light;

  --canvas-default: 16 18 25;
  --canvas-muted: 24 27 37;
  --canvas-variant: 32 36 50;

  --fg-default: 248 248 248;
  --fg-muted: 193 198 215;

  --primary: 48 67 144;
  --primary-variant: 52 73 156;

  --on-primary: var(--fg-default);
}
